.gitignore

cert.crt
cert.key

actions.json
config.json
clients.json
devices.json
groups.json
hubs.json
public/

server
clients/dummy/
clients/device-camera/device-camera
clients/device-hue/device-hue

info
homeManager/js/dont-include.go
havlak1.prof
*.justin